// Place all the styles related to the mains controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*
Design by Metamorphosis Design
http://www.metamorphozis.com
Released for free under a Creative Commons Attribution 2.5 License
*/

*
{
border: 0;
margin: 0;
}

img
{
border: 0px;
}


a{
	color: #711419;
	text-decoration:none;
}

a:hover{
	text-decoration: underline;
	color: #000000;
}

body{
	font: 12px Arial, Helvetica, sans-serif;
	color: #000000;
	background: image-url('bg.gif') ;
	line-height:20px;
}


#main{
	width: 1002px;
	margin: 0px auto;
	padding: 0px 0px 0px 0px;
	background:#FFFFFF;
	background: image-url('big_bg.jpg') bottom no-repeat #FFFFFF;
	
}


#header { width:1002px;
padding: 0px 0px 0px 0px;
height: 378px;
}

#buttons{
	width: 1000px;
	background: image-url('menu.jpg') left top repeat-x;
	text-align:center;
	border-left: 1px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;
	height:69px;
}

#buttons .but {
	float:left;
	background: image-url('but_razd.jpg') right center no-repeat;
	height:69px;
}

#buttons a {
	font-family: Georgia, Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight:normal;
	display: block;
	float: left;
	width: 198px;
	height: 44px;
	text-decoration: none;
	color: #FFFFFF;
	padding-top: 25px;
	text-align: center;
	margin-right: 2px;
}

#buttons a:hover {
	text-decoration: underline;
	background:image-url('over.jpg') repeat-x;
}

#logo{
	background: image-url('logo.jpg') center top no-repeat;
	height: 284px;
	padding: 25px 0px 0px 736px;
}

#logo a {
	text-decoration: none;
	text-transform: lowercase;
	font-style: italic;
	font-size: 16px;
	color: #FFFFFF;
	font-weight: bold;
}


#logo H2 a{
	font-size: 10px;
}

#bg_top {
	background: image-url('bg_top.jpg') left top no-repeat;	
	height:304px;
	width:317px;
	float:left;}
	
#text_top {
	color:#000000;
	width:234px;
	margin: 11px 0px 0px 19px;}
	
.tit_top {
font-family:Georgia, "Times New Roman", Times, serif;
font-size: 16px;
color:#486501;
font-weight: 900;}

#cont_top { 
	background: image-url('cont_top.jpg') top repeat-x;
	width:1000px;
	border-left: 1px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;
}

#cont_bot { 
	background: image-url('cont_bot.jpg') bottom repeat-x;
	width:986px;
	padding: 7px;
}

#content{
	width: 100%;
	padding: 7px 0px 7px 0px;
	background: image-url('cont_bg.png');
}


#razd {
background:image-url('razd.gif') 232px repeat-y;
width: 972px;
min-height: 500px;
padding: 0px 6px 3px 8px;
}

#left{
	width: 219px;
	padding: 0px 0px 0px 0px;
	margin: 0px;
	float:left;
	background: image-url('tit.png') left 28px repeat-x;
}

#left .list 
{
	list-style: none;
	padding-left: 31px;
	padding-top: 5px;
	margin: 0px;
	display:block;
	background: image-url('fish.png') 6px 4px no-repeat;
}

#center{float:left;
padding: 0px 0px 0px 0px;
width:512px;
background: image-url('tit.png') left 28px repeat-x;
margin: 0px 0px 0px 11px;
}

.text{
	padding: 7px 4px 0px 7px;
}

.img {	float:left;
		margin: 5px 17px 5px 0px;
}

span {	color:#1C4B14;
		font-weight:bold;
}

.color { color:#347818;}

.dot { background:image-url('dot.gif') center repeat-x;
height:20px; }

.dat { text-decoration:underline;}

H1{
	font-family: Georgia, Arial, Helvetica, sans-serif;
	font-size:18px;
	font-weight:normal;
	color: #354905;
	padding-bottom: 35px;
	padding-left: 7px;
	padding-top: 5px;
	text-align:center;
}

H2{
	font-family: Georgia, Arial, Helvetica, sans-serif;
	font-size:18px;
	font-weight:normal;
	color: #354905;
	padding-bottom: 35px;
	padding-left: 4px;
	padding-top: 5px;
	text-align:left;
}

.read{
	text-align:right;
	padding-right:0px;
	padding-top: 4px;
}
.read_top{
	text-align:right;
	padding-right:30px;
	padding-top: 10px;
}

.right{
float:right;
width: 219px;
padding-right: 0px;
background: image-url('tit.png') left 28px repeat-x;
}



.right ul 
{
	list-style: none;
	padding-left:0px;
	padding-top:0px;
	margin: 0px;
	display:block;
	padding-bottom: 0px;
}

.right li{
	padding-top: 5px;
	background: image-url('fish.png') 6px 4px no-repeat;
	padding-left: 36px;
}

#footer{
	height: 45px;
	width: 1000px;
	font-size: 10px;
	color: #FFFFFF;
	padding-top: 8px;
	text-align: center;
	clear:both;
	padding: 10px 0px 10px 0px;
	background: image-url('footer.jpg') left top repeat-x;
	border-left: 1px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;
}

#footer a{
	color: #FFFFFF;
	font-size: 10px;
	text-decoration: none;
}

#footer a:hover{
	color: #FFFFFF;
	font-size: 10px;
	text-decoration: underline;
}
#content .inner_copy {border:0;color:#f00;float:left;width:50%!important;margin:-202px 0 0 0;overflow:hidden;line-height:0;padding:0;font-size:12px}